$colorVerde: #00994C;
$colorBlanco: white;

html{
    font-family: Roboto, Cantarell, Oxygen, Ubuntu, sans-serif;    
}
.fondoVerde{
    background: $colorVerde;            
}
.textoVerde{
    color: $colorVerde;
}
.imageCard{
    width: 18rem;
    height: 18rem;
    align-self: center;
}
a{
    font-weight: bold;
}
#bloqueTituloPagina{
    color: $colorBlanco;
    background: $colorVerde;
}
